//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents

    .row.hp_top_screen
        .col
            object(
                data-aos="fade-up"
                data-aos-duration="1500"
                class="top-icon"
                type="image/svg+xml" data="./assets/vectors/HeartLogo.svg"
            )


        .col
            .top-message-wrap(
                data-aos="fade-down-left"
                data-aos-duration="1500"
            )
                h1.top-message MAXIMAIZE
                    br
                    | YOUR
                    br
                    | PRODUCTIVITY

    .container-fluid
        .hp_section_product(
            data-aos="flip-left"
            data-aos-duration="1500"
        )
            h1 Products
                .hp_card
                    h1 INSIGHT
                    p.
                        INSIGHT is wonderful tool that will maximize your productivity.

                    h1 PINNA
                    p.
                        PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                        But, this is now under construction.


        .hp_section_about_us(
            data-aos="flip-left"
            data-aos-duration="1500"
        )
            h1 About Us
                .hp_card
                    h1 Thoru Matsunaga
                    h2 CEO and Cofunder
                    p.
                        INSIGHT is wonderful tool that will maximize your productivity.

                    h1 Shota Shimazu
                    h2 COO and Cofunder
                    p.
                        PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                        But, this is now under construction.

                    h1 Jinbo Kazuyuki
                    h2 CTO and Cofunder
                    p.
                        PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                        But, this is now under construction.


        .hp_section_about_us(
            data-aos="flip-left"
            data-aos-duration="1500"
        )
            h1 Members
                .hp_card
                    h1 Thoru Matsunaga
                    h2 CEO and Cofunder
                    p.
                        INSIGHT is wonderful tool that will maximize your productivity.

                    h1 Shota Shimazu
                    h2 COO and Cofunder
                    p.
                        PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                        But, this is now under construction.

                    h1 Jinbo Kazuyuki
                    h2 CTO and Cofunder
                    p.
                        PINNA is the next generation geolocation based SNS that share your location with your friends in real time.
                        But, this is now under construction.


    div#canvas-container
        canvas#waveCanvas
