//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents

    .row_NoMargin.hp_top_screen
        .col
            object(
                data-aos="fade-up"
                data-aos-duration="1500"
                class="top-icon"
                type="image/svg+xml" data="./assets/vectors/HeartLogo.svg"
            )


        .col
            .top-message-wrap(
                data-aos="fade-down-left"
                data-aos-duration="1500"
            )
                h1.top-message MAXIMIZE
                    br
                    | YOUR
                    br
                    | PRODUCTIVITY

    .container-fluid
        .hp_section.hp_section_product(
            id="product"
        )
            h1.hp_section_header Products

            .hp_section_heading_msg
                h2 We are now making something atractive!

            .row
                .col
                    .hp_card.hp_card-gutter-right-half(
                        z_data-aos="zoom-in"
                        z_data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title OpenPose
                            p.hp_card_text_area 人工知能を用いて人体の姿勢解析を行うアプリケーションです。現在モバイル版開発中。

                .col
                    .hp_card.hp_card-gutter-right-half.hp_card-gutter-left-half(
                        z_data-aos="zoom-in-up"
                        z_data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title Geolocation App
                            p.hp_card_text_area 詳しくは情報は順次更新されます" を "詳細は随時更新中

                .col
                    .hp_card.hp_card-gutter-left-half(
                        z_ata-aos="zoom-in-down"
                        z_data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title Data Management
                            p.hp_card_text_area チームの生産性を"maximize"するB2Bプロダクト。現在試作品開発中。


                //- Void Margin Area
                .hp_sectioin_void



        .hp_section.hp_section_about_us(
            id="about_us"
        )
            h1.hp_section_header About Us
            .hp_section_heading_msg
                h2 We are an organization to utilize research of information technology at the university to real society.

            .row
                .col
                    .hp_card.hp_card-gutter-right-half.hp_card_long_height(
                        data-aos="zoom-in"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title 松永 融
                            h2.hp_card_subtitle 代表 ビジネスサイド
                            p.hp_card_text_area_small.
                                慶應義塾大学総合政策学部在籍。
                                職場での自身の仕事の捗らなさによる経験から、生産性を上げるにはどうしたらいいのかを日々考えるようになり、当団体設立に至る。チーム内では代表として主にサービス構想、会計と財務、営業を担当。「エンジニアサイドの優秀なパシリ」を目指して日々奔走中。


                .col
                    .hp_card.hp_card_long_height.hp_card-gutter-right-half.hp_card-gutter-left-half(
                        data-aos="zoom-in-up"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title 島津 翔太
                            h2.hp_card_subtitle COO & Designer エンジニアサイド
                            p.hp_card_text_area_small.
                                慶應義塾大学環境情報学部在籍。村井純研究会所属。
                                主にサービス設計/開発、全体のオペレーション管理、フロントエンドエンジニアリング、その他各種デザインを担当。大学では機械学習による芸術音楽生成を研究している。代表とは中高の同級生。

                .col
                    .hp_card.hp_card_long_height.hp_card-gutter-left-half(
                        data-aos="zoom-in-down"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title 神保 和行
                            h2.hp_card_subtitle CTO & Researcher エンジニアサイド
                            p.hp_card_text_area_small.
                                慶應義塾大学環境情報学部在籍。村井純研究会所属。
                                主にサービス設計/開発、技術的課題の解決、バックエンドエンジニアリング、人工知能技術の研究を担当。大学では最先端の機械学習技術及び数学を研究している。絵描きとして同人誌出版も手がけている。


        .hp_section.hp_section_contact(
            id="contact"
        )
            h1.hp_section_header Contact
            .row
                .col
                    .hp_section_text_area
                        iframe.hp_contact_form(
                            src="https://docs.google.com/forms/d/e/1FAIpQLSfOHpio4Ns7-LFd7VHKTHPlCIivZth07oGq7DO6Lr0TfQHVCg/viewform?embedded=true"
                            width="700"
                            height="500"
                            frameborder="0"
                            marginheight="0"
                            marginwidth="0"
                        ) 読み込んでいます...
                .col
                    h2 Mail
                    p contact@hplab.jp


    div#canvas-container
        canvas#waveCanvas
    div.footer
        p.footer_copyright Copyright © 2017 Labbiness.
