//-
    Copyright (c) 2017 HappinessLab.
    Created by Shota Shimazu on 2017/08/31


extends templates/_layout.pug

block contents

    .row.hp_top_screen
        .col
            object(
                data-aos="fade-up"
                data-aos-duration="1500"
                class="top-icon"
                type="image/svg+xml" data="./assets/vectors/HeartLogo.svg"
            )


        .col
            .top-message-wrap(
                data-aos="fade-down-left"
                data-aos-duration="1500"
            )
                h1.top-message MAXIMAIZE
                    br
                    | YOUR
                    br
                    | PRODUCTIVITY

    .container-fluid
        .hp_section.hp_section_product(
            id="product"
        )
            h1.hp_section_header Products

            .row
                .col
                    .hp_card.hp_card-gutter-right-half(
                        data-aos="zoom-in"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title OpenPose
                            p.hp_card_text_area We are developing and researching pose inference that can be applied for motion interactive applications using AI technology.

                        //-.card-link
                            a(href="http://webcreatorbox.com/about") LINK
                .col
                    .hp_card.hp_card-gutter-right-half.hp_card-gutter-left-half(
                        data-aos="zoom-in-up"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title Geolocation App
                            p.hp_card_text_area 位置情報を利用した便利で楽しいアプリケーションを開発中です。詳しくは情報は順次更新されます。

                        //-.card-link
                            a(href="http://webcreatorbox.com/about") LINK
                .col
                    .hp_card.hp_card-gutter-left-half(
                        data-aos="zoom-in-down"
                        data-aos-duration="800"
                    )
                        .card-content
                            h1.hp_card_title Data Management
                            p.hp_card_text_area toB向けの生産性を"maximize"するプロダクト。詳細が決まり次第お伝えします。

                        //-.card-link
                            a(href="http://webcreatorbox.com/about") LINK


            .hp_section_text_area
                h2 We are now making something atractive!



        .hp_section.hp_section_about_us(
            id="about_us"
        )
            h1.hp_section_header About Us
            .hp_section_text_area
                p We are organization of returning profit that is utilized IT related researches in the university to real society.
                h2 Our Services
                p Webアプリケーションを用いた業務効率化システムの開発 ・ライフハック型SNSの開発


        .hp_section.hp_section_contact(
            id="about_us"
        )
            h1.hp_section_header Contact
            .hp_section_text_area
                h2 Mail
                p contact@hplab.jp


    div#canvas-container
        canvas#waveCanvas
    div.footer
        p.footer_copyright Copyright © 2017 HappinessLab.
